<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="private.config">
    <add key="luis.endpoint" value="https://westus.api.cognitive.microsoft.com/luis/v2.0"/>
    <add key="luis.isstaging" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>